@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.background-frozen-bold{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 5;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: fixed;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: linear-gradient(45deg, #ee0979 30%, #ff6a00 90%);
  -webkit-transition: background ease 300ms;
  transition: background ease 300ms;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container.auth {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container.auth:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container.auth .info {
  margin: 50px auto;
  text-align: center;
}
.container.auth .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container.auth .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container.auth .info span a {
  color: #000000;
  text-decoration: none;
}
.container.auth .info span .fa {
  color: #EF3B3A;
}
