.have-a-great-day > a{
  font-size: small;
  font-variant:all-petite-caps;
  color: #F64747;
  font-weight: bold;
}

.handwrite {
  font-family: 'ReklameScriptRegular', cursive;
  -webkit-font-smoothing: antialiased;
  color: #383F4C;
}

.about{

}
.about:hover{
  cursor: pointer;
}

#about{
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    margin-top: 55px;
    padding: 20px;
  z-index: 5;
}

article{
  background-color: rgba(255, 255, 255, 1);
  min-height: 300px;
  padding: 40px;
  font-size: x-large;
  z-index: 3;
  max-height: 700px;
  overflow-y: scroll;
}

.fa-heart{
  color:red;
}

