@keyframes bucket-stream-animation {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 0px;
  }
}

@keyframes cloud-animation {
  0% {
    left: -60px;
  }
  100% {
    left: 35px;
    color:ghostwhite;
  }
}

@keyframes sun-animation {
  0% {
    left: 35px;
  }
  100% {
    left: 5px;

  }
}

input[type="file"] {
  display: none;
}

/* Datepicker styling */
.datepicker-container .datepicker-calendar .datepicker-calendar-top{
  background-color: rgba(245, 245, 245, 0.5)!important;
}
.year-title, .month-title{
  color: #F64747!important;
}
#keyboard-left-arrow-button, #chevron-left, #chevron-right, #keyboard-right-arrow-button{
  fill:#F64747!important;
}
.datepicker-calendar > button,
.datepicker-calendar-top > button{
  color: #F64747!important;
}
.year.selected,
.day.selected,
.day:hover,
.year:hover{
  background-color: #F64747!important;
  color: white!important;
  border:none!important;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-primary{
  background-color: #F64747!important;
  border: none!important;
}
.datepicker-container  .datepicker-calendar .datepicker-calendar-container{
  background-color: rgba(245, 245, 245, 0.5)!important;
}
.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary{
  background-color: rgba(245, 245, 245, 0.5)!important;
  color: #000!important;
  border: none!important;
}
.bucket-stream {
  animation: bucket-stream-animation 1s;
  transition: ease all 600ms;
}
.cloud-sun {
  animation: cloud-animation 3s;
  transition: ease all 600ms;
}

.sun {
  animation: sun-animation 3s;
  transition: ease all 600ms;
}

.hidden{
  display: none;
}

.background-frozen-light{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

#tinymce-area{
  z-index: 3;
}
.mce-tinymce.mce-container.mce-panel{
  z-index:2;
  position: absolute;
  width: 100%;
  top:15%;
}

.fa-send.submit{
  cursor: pointer;
  position: relative;
  z-index: 2!important;
  margin-right: 20px;
}

.fa-close{
  cursor: pointer;
  position: relative;
  z-index: 2!important;
  margin-right: 40px;
  color: #F64747;
}

.on-top{
  z-index:3;
  position: fixed;
  right: 25px;
  top: 80px;
  cursor: pointer;
}

.fa-send:hover{
  color:#F62459;
}
.fa-close:hover{
  color:red;
}

.remove-silverlining{
  position: absolute;
  right: 8px;
  bottom: 5px;
}

.heart-silverlining{
  position: absolute;
  right: 8px;
  top: 5px;
}

.heart-silverlining:hover,
.remove-silverlining:hover{
  color: red;
}

.fa-check{
  color:green;
}

.not-approved,
.approved{
  position: absolute;
  left: 8px;
  top: 5px;
}

.approved{
  color:green;
}

.edit-silverlining{
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.edit-silverlining:hover{
  color:green;
}

.fa-cloud{
  color:whitesmoke;
  position: absolute;
  font-size: 7em;
  top: -85px;
  z-index: -1;
  left: 35px;
}

.fa-sun-o{
  z-index: -2;
  position: absolute;
  left: 5px;
  color: rgb(242, 120, 75);
  top: -35px;
}

.day-container > span, label, i{
  cursor: pointer;
}

.day-container:hover > .fa-sun-o{
  color: #F64747;
  transition: ease all 600ms;
}

.day-container:hover > .fa-cloud{
  color: white;
  transition: ease all 600ms;
}

.arrow-disabled{
  color:grey;
  pointer-events: none;
  cursor: not-allowed;
}

#something-good-textarea{
    font-size: large;
    border: none;
    border-bottom: 2px solid #E74C3C;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: center;
    background: transparent;/*rgba(255, 255, 255, 0.1);*/
    margin-top: 10px;
    border-radius: 0;
}

.public-private-addon{
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #E74C3C;
  border-radius: 0;
  color:green;
  font-size: x-large;
  /*min-width: 80px; *//* To avoid the width of the private footer pushing the input back and forth on change */
}

.private-sl{
  color:darkgrey;
}

.fa:hover{
  cursor: pointer;
}

.highlight:hover{
  color:#DB0A5B;
  transition: ease color 300ms;
}

.no-data{
  padding:66px;
  text-align:center;
  color:darkgray;
  font-weight: bold;
  width: 100%;
  z-index: 1;
}

.sl-tile{
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:pointer;
  text-align: center;
}

.silverlight-img{
  position: fixed;
  width: 45%;
  left: 28%;
  top: 1%;
  z-index: -1;
}

.card-content{
  max-width:250px;
  max-height: 50px;
  /*margin-left: 35%;*/
}

span + img{
  align-self: center;
}

.datepicker-input{
  font-size: x-large!important;
  padding-top: 10px;
  border-bottom: 1px solid #E74C3C!important;
  color: #E74C3C!important;
}
.tool-footer{
  display: block;
  font-size: 80%;
  color: #636c72;
  font-variant:small-caps;
}

.pub-priv{
  border: 0;
  padding: 0;
  margin: 0;
  background: 50% 50% no-repeat;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-weight: 500;
  font-size: small;
  font-family: Helvetica;
}

.blockquote{
  border:none;
}

.tooltip{
  opacity: 1!important;
  z-index: 1;
}

.tooltip-inner{
  background-color: transparent;
  color:#E74C3C;
  border-bottom: 2px solid #E74C3C;
  border-radius: 0;
}

.blockquote:hover > .tool-footer{
  color:#DB0A5B;
  transition: ease color 300ms;
}

#fileinput{
  border-bottom: 2px solid #E74C3C;
  font-size: large;
  padding-top: 10px;
  color:grey;
  width: 100%;
  padding-left:60px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.editable{
  z-index:10;
  position: relative;
}

.editable >  img{
  max-width: 600px;
  max-height: 400px;
  margin-left:0;
}

.editable{
  margin-left: 10%;
}
.details{
    position: absolute;
    top: 30%;
 }

.details > .fa-close{
}

.card-progress{
  position: absolute;
  width: 80%;
  height: 50%;
  padding: 10px;
  background-color: rgba(255,255,255,0.6);
}

.card-progress > .fa-spin{
  position: absolute;
  margin-left: 40%;
}

.text-muted.fa-close:hover{
  color: #E74C3C!important;
  transition: all ease 300ms;
}

.card-details{
  padding: 30px;
}

.user-name{
  margin-top: 50px;
}
.today:hover{
  color: darkorange!important;
  transition: all ease 300ms;
}
.datepicker-calendar{

}

.hearts-num{
  position: absolute;
  right: 30px;
  top: 4px;
  font-size: smaller;
}

.silverlining-sm-card>.fa,
.fa-cloud-upload,
.fa-code,
.fa-check,
.fa-send,
.fa-circle-o-notch,
.fa-caret-left,
.fa-caret-right,
.fa-commenting-o,
.fa-sign-in,
.fa-sign-out,
.fa-info,
.fa-sign-out,
footer:before{
  /*https://uigradients.com/#SweetMorning*/
  background: linear-gradient(45deg, #FF5F6D 50%, #FFC371 70%);
  /*background: -webkit-gradient(linear, left top, left bottom, from(#FE6B8B), to(#FF8E53));*/
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.silverlining-sm-card >.fa:hover,
.fa-cloud-upload:hover,
.fa-code:hover,
.fa-check:hover,
.fa-info:hover,
.fa-caret-left:hover,
.fa-caret-right:hover,
.fa-sign-in:hover,
.fa-sign-out:hover,
.fa-commenting-o:hover,
.fa-send:hover,
.fa-circle-o-notch:hover,
footer:hover:before{
  background: linear-gradient(45deg, #ee0979 50%, #ff6a00 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */

}

.silverlining-sm-card{
  box-shadow: 0 2px 3px 0px rgba(255, 105, 135, .30);
}

.silverlining-sm-card:hover{
  box-shadow: 0 2px 3px 0px rgba(255, 105, 135, .60);
}

.day-stream-container{
  margin-top:80px;
  padding-top: 30px;
}

.main-container{
  padding-left: 0;
  padding-right: 0;
}
