.sl-details{
  position:fixed;
  top:25%;
  z-index: 3;
}

.sl-details > .card{
  min-height: 300px;
  padding: 10px;
  border-radius: 0;
  background-color: white;
  border: 1px solid orangered;
}

.sl-close{
  margin-top: 60px;
  right: 0;
  position: absolute;
}
