.daily-silver-linings{
  cursor: pointer;
  color:#F64747;
  font-size:larger;
  font-family: "Helvetica Neue";
  text-decoration: none;
}
.daily-silver-linings:hover{
  color:#DB0A5B;
  transition: ease color 300ms;
}

.fa-star{
  font-size: larger;
}

.navbar{
  background-color: transparent;
}


.rotate {
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.beta{
  position: absolute;
  left: -21px;
  top: 5px;
  width: 72px;
  border-radius: 0!important;
  font-size: 1.3em!important;
  font-variant-caps: all-small-caps;
  padding: 2px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .30);
}
