<div class="background-frozen-bold" (click)="closeForm()" ></div>
<div class="container auth" style="margin-top: 150px; z-index: 10;">
  <div class="login-page">
    <span class="fa fa-close pull-right" (click)="closeForm()" style="margin: 10px;"></span>
    <div class="form">
      <form class="login-form">
        <label>{{message}}</label>
        <div *ngIf="forgotPassword">
          <input type="text" placeholder="email" [(ngModel)]="user.email" name="email"/>
          <button (click)="resetPassword()" *ngIf="forgotPassword">reset</button>
        </div>
          <div *ngIf="!forgotPassword">
            <input type="text" *ngIf="!isLogin" placeholder="username" [(ngModel)]="user.username" name="username"/>
            <input type="text" placeholder="email" [(ngModel)]="user.email" name="email"/>
            <input type="password" placeholder="password" [(ngModel)]="user.password" name="password"/>
            <button (click)="login()" *ngIf="isLogin">login</button>
            <button (click)="register()" *ngIf="!isLogin">register</button>
          </div>
            <p class="message" *ngIf="isLogin || forgotPassword">Not registered? <a href="#" (click)="toggleForm(false)">Create an account</a></p>
            <p class="message" *ngIf="!isLogin || forgotPassword">Already registered? <a href="#" (click)="toggleForm(true)">Login here!</a></p>
            <p class="message" *ngIf="!forgotPassword">Forgot Password? <a href="#" (click)="toggleForgotPassword()">Reset here!</a></p>
      </form>
    </div>
  </div>
</div>
