<div class="container-fluid" [ngClass]="{'hidden': !visibleAbout}" id="about">
  <span class="fa fa-close fa-3x pull-right" (click)="showInfo()"></span>
  <div class="container">
    <article>
      <strong>What is this about?</strong>
      <p>Every once in a while, we get up in the morning and feel that there's this all-too-familiar little gray cloud
        over our heads.</p>
      <p>We know that this day will not be the best and we cannot loose the grip of this feeling of doom.</p>
      <p>This is when we need <strong>perspective</strong> and <strong>inspiration</strong>.</p>
      <p>This is when we need to see a silver lining somewhere, in order to reassure ourselves that it'll be
        <strong>OK</strong> and that <strong>it is a bad day, not a bad life</strong>.</p>
      <p></p>
      <p>This is why I decided to create this place, where each of us can come and post our silver linings, either as a
        personal reminder or even as a small push to maybe help keep others get through with their days.
        It is meant to be used as a simple positive to-remember-list, so please, let's keep it this way :)</p>
      <p>For the time being, each post will go through moderation before it appears publicly, so, please bare with
        me.</p>
      <p></p>
      <p>If you feel like reaching out to say hi, report a bug or anything else, you contact me through <code>my.daily.silverlinings
        at gmail.com</code>.
        I'll be more than happy to hear you out.</p>
      <p></p>
      <p><i>Daily Silver linings</i></p>
    </article>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-faded">
  <div class="row">
    <div class="col-md-4 have-a-great-day">
      <a class="navbar-brand" href="#"> <i class="fa fa-heart"></i>&nbsp;&nbsp;Have a great day :)</a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <span class="fa fa-info fa-2x pull-right about" (click)="showInfo()"></span>
    </div>
  </div>
</nav>
