<div class="container day-stream-container">
  <div class="background-frozen-light" *ngIf="inProgressSvc.isInProgress()">
    <span class="fa fa-circle-o-notch fa-spin fa-4x" style="position: absolute; z-index: 15;left: 47%;top: 40%;"></span>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 offset-3">
      <h3>
        <div class="row">
          <div class="col-md-1 col-sm-1 offset-2">
            <span class="fa fa-caret-left fa-2x" style="cursor: pointer;" (click)="goToPreviousDay()"></span>
          </div>
          <div class="col-md-6 col-sm-6 day-container" style="padding-top: 14px;text-align:center;" >
            <i class="fa fa-cloud cloud-sun"></i>
            <i class="fa fa-sun-o fa-4x sun"></i>
            <label class="label" *ngIf="!pickADate"
                   (click)="pickADate=!pickADate" >{{dashboard.currentDate.dateStr}}</label>
            <i class="fa fa-calendar" aria-hidden="true" *ngIf="!pickADate" (click)="pickADate=!pickADate"></i>
            <ng2-datepicker [options]="datePickerOptions" [(ngModel)]="date" *ngIf="pickADate" title="Custom date"
                            (keyup.enter)="applyDate()" (click)="focusField()"></ng2-datepicker>
          </div>
          <div class="col-md-1 col-sm-1">
            <span class="fa fa-caret-right fa-2x" style="cursor: pointer;"
                  [ngClass]="{'arrow-disabled': dashboard.currentDate.dateStr==currentDate}"
                  (click)="goToNextDay()"></span>
          </div>
        </div>
      </h3>
    </div>
  </div>
  <div class="bucket-stream">
    <div class="row bucket-stream" style="min-height:50px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon fa fa-send highlight public-private-addon" *ngIf="auth.authenticated()" data-toggle="tooltip" data-placement="top" title="Click to publish your post - or hit enter!"
                       (click)="post()">
                       <footer class="tool-footer pub-priv">post</footer>
                    </span>
                  <span class="input-group-addon fa fa-check fa-2x public-private-addon" id="public-private-addon" *ngIf="auth.authenticated()"
                        (click)="togglePublic(newSilverLining)" [ngClass]="{'private-sl': !newSilverLining.isPublic}"
                        data-toggle="tooltip" data-placement="top" title="The privacy level">
                  <footer class="tool-footer pub-priv" id="pub" *ngIf="newSilverLining.isPublic" title="What you post will be public">public</footer>
                  <footer class="tool-footer pub-priv" id="priv" *ngIf="!newSilverLining.isPublic" title="What you post will be private">private</footer>
                  </span>

                  <input id="something-good-textarea" class="form-control"
                         placeholder="Write something good about this day :)" [(ngModel)]="newSilverLining.description"
                         (keyup.enter)="addSilverLining()"
                         aria-describedby="public-private-addon">
                  <span class="input-group-addon fa fa-code highlight fa-2x public-private-addon" *ngIf="!editorOpen && auth.authenticated()" data-toggle="tooltip" data-placement="top" title="Open full Editor!" (click)="toggleEditor()">
                    <footer class="tool-footer pub-priv">editor</footer>
                  </span>
                  <label class="input-group-addon fa fa-cloud-upload highlight fa-2x public-private-addon" *ngIf="auth.authenticated()" data-toggle="tooltip" data-placement="top" title="Upload a picture!">
                    <input type="file" id="fileinput" (change)="fileInputChanged($event)"
                           placeholder="No file chosen {.jpg, .png, .pdf, .jpeg, .gif, .txt}"/>
                    <footer class="tool-footer pub-priv">upload</footer>
                  </label>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{hidden: !editorOpen}" >
        <div class="background-frozen-light"></div>
        <div class="on-top">
          <blockquote class="blockquote" (click)="toggleEditor()">
            <p class="mb-0"><i class="fa fa-close fa-2x " style="margin-left: 8px;" title="Discard!"></i></p>
            <footer class="tool-footer">discard</footer>
          </blockquote>
          <blockquote class="blockquote" (click)="toggleEditor(true)">
            <p class="mb-0"><i class="fa fa-send submit fa-2x " title="Submit the post!!"></i></p>
            <footer class="tool-footer">submit</footer>
          </blockquote>
          <blockquote class="blockquote" *ngIf="activeSilverLining?.isPublic">
            <p class="mb-0">
              <i class="fa fa-check highlight fa-2x" title="What you post will be public!"
                 (click)="togglePublic(activeSilverLining)"></i>
            </p>
            <footer class="tool-footer">public</footer>
          </blockquote>
          <blockquote class="blockquote" *ngIf="!activeSilverLining?.isPublic">
            <p class="mb-0">
              <i class="fa fa-check private-sl highlight fa-2x" title="What you post will be just for you to see!"
                 (click)="togglePublic(activeSilverLining)"></i>
            </p>
            <footer class="tool-footer">private</footer>
          </blockquote>
        </div>
        <div id="tinymce-area"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-4 thumb center no-side-padding" style="margin-top: 10px"
           *ngFor="let sl of dashboard.currentDate.silverLinings; let i = index;">
        <div class="card thumbnail silverlining-sm-card" style="height: 100px;padding: 25px;">
          <i class="fa fa-exclamation not-approved" title="Pending moderation!" aria-hidden="true"
             *ngIf="!sl.isApproved"></i>
          <i class="fa fa-check approved" title="Accepted!" *ngIf="sl.isApproved"></i>
          <i class="fa fa-exclamation not-approved" title="Flag as inapprorpiate!" aria-hidden="true"></i>
          <i class="fa fa-edit edit-silverlining" title="Edit" (click)="editSilverLining(sl)" *ngIf="sl.user.id == dashboard.user?.id"></i>
          <span class="fa fa-trash remove-silverlining pull-right " title="Delete" (click)="deleteSilverLining(sl)"
                *ngIf="sl.user.id==dashboard.user?.id"></span>

          <span class="fa fa-heart-o heart-silverlining pull-right " *ngIf="userHasHeartedThis(sl) == -1"
                title="<3 this!" (click)="toggleSilverLiningHeart(sl)"></span>
          <span class="fa fa-heart heart-silverlining pull-right" *ngIf="userHasHeartedThis(sl) > -1"
                title="un-<3 this!" (click)="toggleSilverLiningHeart(sl)"></span>
          <span class="hearts-num">#{{sl.hearts.length}}</span>
          <div class="progress card-progress" *ngIf="inProgress&&activeSilverLining==sl">
            <span class="fa fa-circle-o-notch fa-spin fa-3x"></span>
            <!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>-->
          </div>
          <span class="sl-tile" [innerHTML]="sl.description" (click)="showDetails(sl)"></span>
        </div>
      </div>
      <div class="clearfix" *ngIf="(i+1) % 4 == 0">
        <hr/>
      </div>
    </div>
    <div class="row" *ngIf="dashboard.currentDate == null || dashboard.currentDate.silverLinings.length == 0">
      <div class="no-data">
        <p>
          Nothing here so far... Shall we something nice?
        </p>
      </div>
    </div>
    <silver-lining-details
      [(activeSilverLining)]="activeSilverLining"
      [(user)]="dashboard.user"
      (onCloseDetails)="onCloseDetails($event)"
      *ngIf="activeSilverLining!=null&&detailsOpen">
    </silver-lining-details>
  </div>
</div>
