<div class="background-frozen-light" (click)="closeDetails()">
  <span class="fa fa-close fa-3x text-muted sl-close" title="Close" (click)="closeDetails()"></span>
</div>
<div class="container sl-details">
  <div class="card thumbnail">
    <i class="fa fa-exclamation not-approved" title="Pending moderation!" aria-hidden="true" *ngIf="!activeSilverLining.isApproved"></i>
    <i class="fa fa-check approved" title="Accepted!" *ngIf="activeSilverLining.isApproved"></i>
    <i class="fa fa-edit edit-silverlining" title="Edit" (click)="editSilverLining(activeSilverLining)" *ngIf="activeSilverLining.user.id == user?.id"></i>
    <span class="fa fa-trash remove-silverlining pull-right " title="Delete" (click)="deleteSilverLining(activeSilverLining)"
          *ngIf="activeSilverLining.user.id==user.id"></span>
    <span class="fa fa-heart-o heart-silverlining pull-right " *ngIf="userHasHeartedThis(activeSilverLining) == -1"
          title="<3 this!" (click)="toggleSilverLiningHeart(activeSilverLining)"></span>
    <span class="fa fa-heart heart-silverlining pull-right" *ngIf="userHasHeartedThis(activeSilverLining) > -1"
          title="un-<3 this!" (click)="toggleSilverLiningHeart(activeSilverLining)"></span>
    <span class="hearts-num">#{{activeSilverLining.hearts.length}}</span>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <span class="sl-tile editable" [innerHTML]="activeSilverLining.description"></span>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="user-name text-muted pull-right">
          by {{activeSilverLining?.user?.username}}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
