<!--

<nav class="navbar navbar-light bg-faded" style="z-index: 1;">
  <div class="container-fluid" style="padding-bottom:0;margin-bottom:0;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-star fa-2x" aria-hidden="true"  style="color:#F64747;">
          &nbsp;&nbsp;<a class="daily-silver-linings" href="#">Daily Silver Linings</a>
        </i>
      </a>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item pull-xs-right">
      <a class="nav-link" href="#">Link on the Right</a>
    </li>
  </ul>
</nav>
-->


<nav class="top-bar-component navbar navbar-toggleable-md fixed-top navbar-light bg-faded" id="landing-nav" role="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="badge badge-danger beta rotate">BETA</span>
  <a class="navbar-brand daily-silver-linings" href="#">Daily Silver Linings</a>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto left">
      <li class="nav-item active" *ngIf="auth.authenticated()">
        <a class="nav-link text-muted" href="#" style="font-size: smaller;">Welcome, {{currentUser?.username}}</a>
      </li>
      <li class="nav-item active" *ngIf="!auth.authenticated()">
        <a class="nav-link text-muted" href="#" style="font-size: smaller;">You are anonymous</a>
      </li>
    </ul>
    <span style="cursor: pointer;" class="fa fa-sign-in fa-2x navbar-right" title="Log In" (click)="loginOpen=!loginOpen" *ngIf="!auth.authenticated()"></span>
    <span style="cursor: pointer;" class="fa fa-sign-out fa-2x navbar-right" title="Log Out" (click)="auth.logout()" *ngIf="auth.authenticated()"></span>
  </div>
</nav>
<auth *ngIf="loginOpen" [loginOpen]="loginOpen" (onLoginOpenChange)="onLoginOpenChange($event)"></auth>
